# This is an example .env file for the Kotatsu Sync Server.
# Copy this file to .env and replace the values with your actual configuration.

# Database connection settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=kotatsugo
DB_USER=kotatsugo
DB_PASS=replace-with-actual-password

# The port the server will listen on
PORT=9292

# Replace with a long random string for security.
JWT_SECRET=

# possible values for LOG_LEVEL: debug, info, warn, error
LOG_LEVEL=info
